<!DOCTYPE html>
<html lang="en">
  <head>
  	<title>Rashtriya Khel Manch</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">
    
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">
    
    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
	  
	  
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light site-navbar-target" id="ftco-navbar">
	    <div class="container">
	     			<a class="navbar-brand" href="/">RashtriyaKhel<span>Manch</span></a>

	      <button class="navbar-toggler js-fh5co-nav-toggle fh5co-nav-toggle" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	        <span class="oi oi-menu"></span> Menu
	      </button>

	      <div class="collapse navbar-collapse" id="ftco-nav">
	        <ul class="navbar-nav nav ml-auto">
            <li class="nav-item"><a href="/#home-section" class="nav-link"><span>Home</span></a></li>
	          <li class="nav-item"><a href="/#about-section" class="nav-link"><span>About</span></a></li>
	          <li class="nav-item"><a href="/#contact-section" class="nav-link"><span>Contact</span></a></li>
	          <!-- <li class="nav-item cta"><a href="#" class="nav-link">Buy Ticket</a></li> -->
	        </ul>
	      </div>
	    </div>
	  </nav>
	  <section class="hero-wrap hero-wrap-2" style="background-image: url('images/bg_3.jpg');">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate pb-5 text-center">
            <h1 class="mb-3 bread">SC panel orders closure of Gyms by October 18</h1>
           <!--  <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span class="mr-2"><a href="blog.html">Blog <i class="ion-ios-arrow-forward"></i></a></span> <span>Blog Single <i class="ion-ios-arrow-forward"></i></span></p> -->
          </div>
        </div>
      </div>
    </section>
		

    <section class="ftco-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 ftco-animate">
            <!-- <h2 class="mb-3">MYTH#1: CARBS MAKE YOU GAIN WEIGHT</h2> -->
            <p>
A day after the Supreme Court-appointed monitoring committee ordered sealing of all fitness centres, including gyms, yoga and meditation, which opened after August 12, 2008, owners of these centres have decided to approach the court on Monday to seek relief.<br>

These owners say that the move will not only affect the livelihood of thousands of people, but also hamper Prime Minister Narendra Modi’s ‘Fit India’ movement.
<br>
Expressing his anguish over the “high-handedness” of the authorities in dealing with the issue, Chirag Sethi, a member of Delhi Gym Association, termed the move as “dictatorial”.
<br>
“We are neither polluting nor creating traffic jams. Then why we are being targeted? We will legally challenge monitoring committee’s directive to seal gyms. We will approach the Supreme Court on Monday to seek relief from sealing,” Sethi said.
<br>
The committee’s directions pointed to violation of rules as enumerated under the Master Plan of Delhi-2021 (MPD) that allowed fitness centres to be opened only in malls and commercial plots owned by the Delhi Development Authority (DDA). In its September 24 order, the panel wanted those fitness centres opened after August 12, 2008 and found violating these rules to be sealed by October 18.
<br>
“But when restaurants and pubs are allowed to function from plots under the mixed land use category, why single out gyms?” Sethi said. “Irony of the situation is that on one hand Prime Minister is advocating about doing exercise and remain healthy and fit, the authorities are trying to shut the gyms and yoga centres. It is an injustice to the fitness industry.”
<br>
Dronacharya awardee Bhupender Dhawan, who runs a fitness centre in Delhi, said, “The monitoring committee’s order will result in closure of a majority of gyms and fitness centres in Delhi. In 2007, we had faced a similar problem and the master plan was amended to provide relief. The government should find a solution to this problem. This order will defeat the PM’s call for a ‘fit India’.”
<br>
Vikas Jain, managing director of fitness chain Anytime Fitness, said that not everyone could afford to go to gyms in malls, so action against those located in other areas was “not fair”. He said that people also prefer gyms located close to their residence.
<br>
“Going to the gym and exercising is no more a luxury. It is a necessity. On one hand the PM is advocating the idea of being fit and healthy while on the other the authorities are trying to shut the fitness centres.” Jain said.
<br>
Puneet Singh Nindra, another fitness centre owner said, “At present, there is no policy for fitness centre.”
<br>
The Chambers of Trade and Industry (CTI) has also come in support of the gym and yoga centre owners and requested union minister Hardeep Singh Puri to amend the master plan and shift the cut-off date so that sealing could be stopped. Brijesh Goyal, CTI national convener, said, “Most gyms in Delhi were built after 2008. We requested Puri to shift the cut-off date to September 2019, as done in the case of restaurants, to stop sealing.
           
<p>
          </div> <!-- .col-md-8 -->
       

        </div>
      </div>
    </section> <!-- .section -->



    <footer class="ftco-footer ftco-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
			  <h2 class="ftco-heading-2">About Rashtriya Khel Manch.</h2>
			  <p>Rashtriya khel manch is nation's most respected ranking & listing platform for Athletes. Our list contains the achievements & records of India's biggest athletes.</p>
              <!-- <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
              </ul> -->
            </div>
          </div>
          <!-- <div class="col-md">
            <div class="ftco-footer-widget mb-4 ml-md-4">
              <h2 class="ftco-heading-2">Links</h2>
              <ul class="list-unstyled">
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Home</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>About</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Schedule</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Speakers</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Contact</a></li>
              </ul>
            </div>
          </div>
          <div class="col-md">
             <div class="ftco-footer-widget mb-4">
              <h2 class="ftco-heading-2">Privacy</h2>
              <ul class="list-unstyled">
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Career</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>About Us</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Contact Us</a></li>
                <li><a href="#"><span class="icon-long-arrow-right mr-2"></span>Buy Ticket</a></li>
              </ul>
            </div>
          </div> -->
          <div class="col-md">
            <div class="ftco-footer-widget mb-4">
            	<h2 class="ftco-heading-2">Have a Questions?</h2>
            	<div class="block-23 mb-3">
	              <ul>
	                <li><span class="icon icon-map-marker"></span><span class="text">Ground Floor, Sec-2 A Amrapali Complex,  Gurugram, Haryana 122050</span></li>
	                <li><a href="#"><span class="icon icon-phone"></span><span class="text">+91 9582161635</span></a></li>
	                <!-- <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li> -->
	              </ul>
	            </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">

            
          </div>
        </div>
      </div>
    </footer>
    
  

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>


  <script src="js/jquery.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.magnific-popup.min.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/scrollax.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map.js"></script>
  
  <script src="js/main.js"></script>
    
  </body>
</html>